<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459638731846-s5tbcn10vshpdrgn689paohehvf73bjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459638731846-s5tbcn10vshpdrgn689paohehvf73bjb</string>
	<key>API_KEY</key>
	<string>AIzaSyATZm6CLd1UiUqrTf1nT2dj65EZk6WnXz4</string>
	<key>GCM_SENDER_ID</key>
	<string>459638731846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.pucpr.esportemais</string>
	<key>PROJECT_ID</key>
	<string>esportemais-78ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>esportemais-78ae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459638731846:ios:bb238337cd4c2e7f</string>
	<key>DATABASE_URL</key>
	<string>https://esportemais-78ae5.firebaseio.com</string>
</dict>
</plist>